{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des Utilisateurs</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>

                <th>Firstname</th>
                <th>Email</th>
                <th>Bio</th>
                <th>Createdat</th>
                <th>Updatedat</th>

                <th>Avatar</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>

                <td>{{ user.firstname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.bio }}</td>
                <td>{% if user.createdAt %}{{ user.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if user.updatedAt %}{{ user.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
  
                <td>{{ user.avatar }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_show', { 'id': user.id }) }}">détails</a>
                        </li>
                        <li>
                            <a href="{{ path('user_edit', { 'id': user.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_new') }}">Ajouter un utilisateur</a>
        </li>
    </ul>
{% endblock %}
